@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body{
  background-color:#eeeeee;
  font-family: 'Nanum Gothic', sans-serif;
  overflow: scroll;
}

#goDcinside-button{text-decoration:none;border:2px solid #00AAFF;background-color:#FFFFFF;}#godcinside-button:hover{background-color:#0505AB;color:#FFFFFF;}
#searchDC-button{text-decoration:none;border:2px solid #00AAFF;background-color:#FFFFFF;}#searchDC-button:hover{background-color:#0505AB;color:#FFFFFF;}
#redditOpen-button{text-decoration:none;border:2px solid #FF5700;border-radius:10px;background-color:#FFFFFF;}#redditOpen-button:hover{background-color:#FF5700;color:#00EEEE;}
